<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        div{
            background-color: aliceblue;
            border:1px solid antiquewhite;
            padding:10px 10px;
        }
    </style>

</head>
<body>
     <div >sorry , this reset password link is expired. Make a new request to reset password!!!</div>
</body>
</html>